.cityList{
  color: #0a565c;
  font-family: 'Lobster', cursive;
}

.city-holder{
  display:block;
}

.background{
  padding: 50px;
  background-image: url('../../public/images/1.jpg');
}

.container{
  
  
  border-radius: 25px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-top:30px;
  margin-top: 5px;
  background: whitesmoke;
  border-color: #d46e7e;
  border-width: 5px;
 
}

.title{
  font-family: 'Lobster', cursive;
  font-size: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
  display: block;
    color: #D46E7E;
    text-align: center;
  }

.borderContainer{
  border-radius: 25px;
  border-width: 2px;
  border-color: #d46e7e;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top:10px;
  margin-top: 5px;
  border-style: solid
  
}



.rate{
  text-align: right;
}

.marginC{
  margin-right: 30px;

}

.star {
  position: relative;  
  display: inline-block;
  font-size: 2.5rem;
  color: #d3d3d3;
}
.full {
  color: #D46E7E;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #D46E7E;
}

ngb-rating.d-inline-flex {
  float: right;
}