<div class="background">
  <div class="container">
    <div>
    <h1 class="title">Cities</h1>
    <div *ngFor="let city of cities" class="borderContainer">
      <a routerLink="/city/{{city._id}}"><span class="cityList fs-27 ">{{city.name}}</span></a>
      
      <span class="marginC">
      <ng-template class="pull-right" #t let-fill="fill" >
        <span class="star pull-right" [class.full]="fill === 100">
          <span class="half pull-right  " [style.width.%]="fill">&hearts;</span>&hearts;
        </span>
      </ng-template>
      <ngb-rating [(rate)]="city.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
      </span>
    </div>
  
    </div>
  </div>
    </div>
 

          
          
              
          

