<body class='back'>
  <div>
    <h1 >404</h1>
    <h2>Page not found</h2>
    <div class='route' routerLinkActive="['active']" routerLinkActiveOptions="{exact: true}"><a routerLink="/cityList"><span data-hover="City list">BACK TO MARS</span></a></div>
  </div>
</body>