.back{
    background-image: url('../../assets/pictures/1.jpg')
}

h1{
    text-align: center;
    padding-top: 50px;
    font-size: 250px;
    border-color: white;
   color: white bold;

   
}

h2{
    text-align: center;
    font-size: 100px;
    color: white bold;
}
.route{
    text-align: center;
    font-size: 50px;
    color: white bold;
}