.back {
    background-image: url('../../public/images/1.jpg');
  }
  
  
  .review {padding-bottom: 5px;
  display: block!important;}
  .panel-body.review-container {padding-top: 10px;}
  .review-header {margin-bottom: 10px;}
  .reviewAuthor {margin: 0 5px;
  display: block}
  .reviewTimestamp {color: #ccc;}
  
  .label-facility {margin-right: 2px}
  .rating-stars {margin-left: 3px;}
  #filter {margin-left: 4px;}
  
  
  agm-map {
    height: 300px;
  }
  
  
  .cityTitle{
  font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
  display: block;
    color: #D46E7E;
    text-align: center;
  }
  
  .br-default .br-units {
    align-items: center;
  }
  .br-default .br-unit {
    margin-right: 5px;
    font-size: 23px;
    height: 18px;
    width: 18px;
  }
  .br-default .br-unit:after {
    content: "\2605";
    color: #d2d2d2;
  }
  .br-default .br-selected:after {
    color: #EDB867;
  }
  .br-default .br-active:after {
    color: #EDB867;
  }
  
  .star {
    position: relative;  
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
  }
  .full {
    color: #D46E7E;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #D46E7E;
  }
  
  .oneComment{
    border-color: #D46E7E;
    border-width: 5px;
  
  }
  
  .borderPlace{
    
    border-radius: 25px;
    margin: 3px;
    padding-left: 25px;
   background-color: #0D747C;
   font-size: 15px;
  }
  
  .placeColor{
    color:rgb(175, 170, 170);
  }