<div class="header-banner">
    <!-- Top Navigation -->
    <section class="bgi banner5"><h2>Gallery</h2>
      <button   class="btn float-md-right" style="margin-right: 30px" (click)="openModalAddPhoto(contentPhoto)">Add photo</button>
     </section>
    
        <!--gallery-->
<div class="gallery" id="gallery">
<div class="container">
      
<div class="gallery-grids">
<section>
  <ul *ngFor="let photo of photos"  id="da-thumbs" class="da-thumbs">
    <li>

      <!--  <ks-modal-gallery [modalImages]="photos" [plainGalleryConfig]="plainGalleryGrid"></ks-modal-gallery>-->

      <a class="e2e-trusted-url" (click)="openModalDeletePhoto(contentListPhoto, photo._id)" class="b-link-stripe b-animate-go  thickbox">
        <img  class="e2e-trusted-url" src="{{photo.path}}" alt="" />
     </a>
     <button *ngIf="isAdmin() || isOwner(photo.author)" class="btn float-md-center" (click)="openModalDeletePhoto(contentDelete, photo._id)">Delete</button>
    </li>
  </ul>
</section>
  </div>
<!--script-->
</div>
</div>
<!--//gallery-->
</div>

<ng-template #contentPhoto let-closeCU="close" let-yesOptionCU="dismiss" let-noOptionCU="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add photo</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeCU('CLOSED')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            <form [formGroup]="formAddPhoto" class="login100-form validate-form">
        
              <div class="form-group">
              <div class="wrap-input100 validate-input m-b-25" data-validate = "Choose photo">
                <input [formControl]="photo" class="input100" type="file" name="photo" placeholder="choose photo" (change)="handleFileInput($event)">
                <span class="focus-input100"></span>
              </div>
              </div>
            
          <h2> Are you sure that you want to add this image? </h2>
       
              
     
    <div class="modal-footer">
        <button type="button" class="btn" (click)="yesOptionCU('JES'); onAddPhotoSubmit(formAddPhoto.value)">Add</button>
      <button type="button" class="btn" (click)="noOptionCU('NO')">Close</button>
      </div>
    </form>
  </div>
  
</div>
  </ng-template>


  <ng-template #contentDelete let-close="close" let-yesOption="dismiss" let-noOption="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="close('CLOSED')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to delete this photo?</p>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn " (click)="yesOption('YES')">Yes</button>
        <button type="button" class="btn " (click)="noOption('NO')">No</button>
        </div>
    </ng-template>

    <ng-template #contentListPhoto let-close="close" let-yesOption="dismiss" let-noOption="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Gallery</h4>
          <button type="button" class="close" aria-label="Close" (click)="close('CLOSED')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <ngb-carousel >
            <ng-template ngbSlide *ngFor="let p of photos">
              <img src="{{p.path}}" height="350" width="500" alt="{{p.name}}">
            </ng-template>
            <ng-template ngbSlide>
             
            </ng-template>
          </ngb-carousel>
        
        <div class="modal-footer">
         <button type="button" class="btn" (click)="yesOption('YES')">Close</button>
          
          </div>
      </ng-template>