<div class="header" id="home" >
  <nav class="navbar navbar-expand-lg my-1">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/cityList"><h1>JustGo</h1></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav navbar-right  margin-top cl-effect-2">
          <li routerLinkActive="['active']"><a routerLink="/home"><span data-hover="Home">Home</span></a></li>
          <li routerLinkActive="['active']" routerLinkActiveOptions="{exact: true}"><a routerLink="/cityList"><span data-hover="City list">City list</span></a></li>

          <li *ngIf="loggedIn() && loggedAdmin()" routerLinkActive="['active']" routerLinkActiveOptions="{exact: true}"><a routerLink="/addCity"><span data-hover="Add city">Add City</span></a></li>
          <li *ngIf="loggedIn() && loggedAdmin()" routerLinkActive="['active']" routerLinkActiveOptions="{exact: true}"><a routerLink="/admin"><span data-hover="Admin">Admin</span></a></li>
        </ul>

        <ul class="nav navbar-nav ml-auto navbar-right margin-top cl-effect-2">
          <li  *ngIf="!loggedIn()" routerLinkActive="['active']" routerLinkActiveOptions="{exact: true}"><a routerLink="/register"><span data-hover="Register">Register</span></a></li>
          <li *ngIf="!loggedIn()" routerLinkActive="['active']" routerLinkActiveOptions="{exact: true}"><a routerLink="/login"><span data-hover="Login">Login</span></a></li>
          <li><a *ngIf="loggedIn()" (click)="onLogoutClick()" href="#"><span data-hover="Logout">Logout</span></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </nav>
</div>



