<div class="navigation">
  <app-navigation></app-navigation>
</div>
<div class="content">
  <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
