<div class="container-login100">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form [formGroup]="formRegister" (ngSubmit)="onRegisterSubmit(formRegister.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-40">
					Sign Up
				</span>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
        <input [formControl]="username"  class="input100" type="text"  name="username" placeholder="username">
        <span *ngIf="!username.valid && username.touched" class="formC fs-14">Username must be between 4 and 15 characters and without whitespace.</span>
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter email">
        <input [formControl]="email" class="input100" type="text" name="email" placeholder="email">
        <span *ngIf="!email.valid && email.touched" class="formC fs-14">E-mail address is not valid.</span>
      </div>
        <div class="form-group">
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input  [formControl]="password" class="input100" type="password" name="password" placeholder="password">
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input  [formControl]="passwordConfirm" class="input100" type="password" name="passwordConfirm" placeholder="confirm password">
        <span *ngIf="!passwords.valid && (password.touched || passwordConfirm.touched)" class="formC fs-14">Passwords don't match or they are shorter than 6 characters.</span>
        <span class="focus-input100"></span>
      </div>
      </div>


      <div class="container-login100-form-btn">
        <button type="submit" [disabled]="!formRegister.valid" class="login100-form-btn" >
          Register
        </button>
      </div>

    </form>
  </div>
</div>



<div id="dropDownSelect1"></div>

