<div class="back">
<div class="container" *ngIf="loaded">
    <button *ngIf="isAdmin()"  class="btn float-md-right" style="margin-right: 5px" (click)="openModalDeleteCity(contentCity)">Delete</button>
    <button *ngIf="isAdmin()"  class="btn float-md-right" style="margin-right: 5px" (click)="openModalUpdateCity(contentCityUpdate)">Update</button>
    <button class="btn float-md-right" routerLink="photo" style="margin-right: 5px" >Gallery</button>
    <h1 class="panel-title cityTitle ">{{city.name}}</h1>
  
  
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">{{city.country}}</h2>
          </div>

          <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
              </span>
            </ng-template>
            
            <ngb-rating [(rate)]="city.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            <hr>
            
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
                <button  class="btn float-md-right" (click)="openModalAddPlace(contentAddPlace)">Add</button>
              <h2 class="panel-title">You need to visit...</h2>
             
            </div>
            <div class="panel-bodyL">
             
                <div *ngFor="let place of city.places">
                    <div class="borderPlace">
                  <span class="placeColor">{{place.place}}</span>
                  <span class='pull-right'><img *ngIf="isOwner(place.author) || isAdmin()" src='../../assets/pictures/update.png' (click)="openModalUpdatePlace(contentUpdatePlace, place._id)"></span>
                  <span></span>
                  <span class='pull-right'><img *ngIf="isOwner(place.author) || isAdmin()" src='../../assets/pictures/delete.png' (click)="openModalDeletePlace(contentDeletePlace, place._id)"></span>
                </div>
               
                </div>
              
              
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 location-map">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Location map</h2>
            </div>
            <div class="panel-bodyL">
              <agm-map [latitude]="city.lat" [longitude]="city.lng">
                <agm-marker [latitude]="city.lat" [longitude]="city.lng"></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-primary review-panel">
            <div class="panel-heading">
              <a class="btn btn-default pull-right" routerLink="reviews">Add review</a>
              <h2 class="panel-title">Reviews</h2>
            </div>
            <div class="panel-body review-container">
            <div *ngFor="let comment of comments">
           
                  <div class="review" >
                      <div class="oneComment">
                  <div class="well well-sm review-header">
                  
                    <button *ngIf="isOwner(comment.author) || isAdmin()"  class="btn float-md-right" (click)="openModalDelete(content, comment._id)">Delete</button>
                
                    <span class="reviewAuthor">{{comment.author}}</span>
                  
                    <ng-template #t let-fill="fill">
                     <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                      </span>
                    </ng-template>
                    <ngb-rating [(rate)]="comment.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>              
                     <p><small class="reviewTimestamp">{{comment.createdOn | date:'yyyy-MM-dd'}} </small></p>
                  </div>
                  
                  <div class="col-xs-12">
                    <p>{{comment.reviewText}}</p>
                  </div>
                  <hr>
                </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>{{city.information}}</p>
    </div>
  </div>

</div>
</div>


    <ng-template #content let-close="close" let-yesOption="dismiss" let-noOption="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
          <button type="button" class="close" aria-label="Close" (click)="close('CLOSED')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to delete this comment?</p>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn" (click)="yesOption('YES')">Yes</button>
          <button type="button" class="btn" (click)="noOption('NO')">No</button>
          </div>
      </ng-template>

      <ng-template #contentCity let-closeC="close" let-yesOptionC="dismiss" let-noOptionC="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeC('CLOSED')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to delete this city?</p>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn" (click)="yesOptionC('YES')">Yes</button>
          <button type="button" class="btn" (click)="noOptionC('NO')">No</button>
          </div>
      </ng-template>

      <ng-template #contentCityUpdate let-closeCU="close" let-yesOptionCU="dismiss" let-noOptionCU="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Update</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeCU('CLOSED')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
              <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                  <form [formGroup]="formCityUpdate"  class="login100-form validate-form">
              
                    <div class="form-group">
                    <div class="wrap-input100 validate-input m-b-20" data-validate="Enter city name:">
                        
                      <input [formControl]="name" class="input100" type="text" name="city" value={{city.name}} placeholder="enter city name" >
                      
                      <span *ngIf="!name.valid && name.touched" class="formC fs-14">City name must be between 1 and 70 characters and support only letters</span>
                      <span class="focus-input100"></span>
                    </div>
                    </div>
              
                    <div class="form-group">
                    <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter country">
                      <input [formControl]="country" class="input100" type="text" name="county" placeholder="enter country" value={{city.country}}>
                      <span *ngIf="!country.valid && country.touched" class="formC fs-14">Country name must be between 1 and 70 characters and support only letters</span>
                      <span class="focus-input100"></span>
                    </div>
                    </div>
              
                    <div class="form-group">
                    <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter some informations">
                      <input [formControl]="information" class="input100" type="text" name="information" placeholder="enter some informations" value={{city.information}}>
                      <span *ngIf="!information.valid && information.touched" class="formC fs-14">Informations about city must be less then 3000 charachters></span>
                      <span class="focus-input100"></span>
                    </div>
                    </div>
              
                    <div class="form-group">
                    <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter latitude">
                      <input [formControl]="lat" class="input100" type="text" name="lat" placeholder="enter latitude" value={{city.lat}}>
                      <span class="focus-input100"></span>
                    </div>
                    </div>
              
                    <div class="form-group">
                    <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter longitude">
                      <input [formControl]="lng" class="input100" type="text" name="lng" placeholder="enter longitude" value={{city.lng}}>
                      <span *ngIf="!coordinates.valid && (lat.touched || lng.touched)" class="formC fs-14">You need to enter longitude and latitude</span>
                      <span class="focus-input100"></span>
                    </div>
                    </div>
                   
                <h2> Are you sure that you want to make this change? </h2>
               
                   
               
          <div class="modal-footer">
            
            <button type="button" class="btn" (click)="noOptionCU('NO'); onCityUpdateSubmit(formCityUpdate.value)">Yes</button>
            <button type="button" class="btn" (click)="noOptionCU('NO')">No</button>
          </div>
          </form>
        </div>
        
  </div>
        </ng-template>


        <ng-template #contentAddPlace let-closeCU="close" let-yesOptionCU="dismiss" let-noOptionCU="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Add place</h4>
              <button type="button" class="close" aria-label="Close" (click)="closeCU('CLOSED')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                    <form [formGroup]="formAddPlace"  class="login100-form validate-form">
                       
                
                      <div class="form-group">
                      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter place:">
                          
                        <input [formControl]="place" class="input100" type="text" name="place"  placeholder="enter a place" >
                        
                        <span *ngIf="!place.valid && place.touched" class="formC fs-14">Place name must be between 1 and 70 characters and support only letters</span>
                        <span class="focus-input100"></span>
                      </div>
                      </div>
  
                      
                  <h2> Are you sure that you want to add this place? </h2>
                
                
            <div class="modal-footer">
                <button type="button" class="btn" (click)="yesOptionCU('YES'); onAddPlaceSubmit(formAddPlace.value)">Yes</button>
              <button type="button" class="btn" (click)="noOptionCU('NO')">No</button>
              </div>
              
            </form>
            </div>
            
      </div>
          </ng-template>


          <ng-template #contentDeletePlace let-closeC="close" let-yesOptionC="dismiss" let-noOptionC="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Delete</h4>
              <button type="button" class="close" aria-label="Close" (click)="closeC('CLOSED')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure that you want to delete this place?</p>
            </div>
            <div class="modal-footer">
             <button type="button" class="btn btn-light" (click)="yesOptionC('YES')">Yes</button>
              <button type="button" class="btn btn-light" (click)="noOptionC('NO')">No</button>
              </div>
          </ng-template>

          
          <ng-template #contentUpdatePlace let-closeCU="close" let-yesOptionCU="dismiss" let-noOptionCU="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Update</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeCU('CLOSED')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                      <form [formGroup]="formAddPlace"  class="login100-form validate-form">
                  
                        <div class="form-group">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Enter place name">
                            
                          <input [formControl]="place" class="input100" type="text" name="place" placeholder="update place name" >
                          
                          <span *ngIf="!place.valid && place.touched" class="formC fs-14">Place name must be between 1 and 70 characters and support only letters</span>
                          <span class="focus-input100"></span>
                        </div>
                        </div>
                
                    <h2> Are you sure that you want to make this change? </h2>
              <div class="modal-footer">
                
                <button type="button" class="btn" (click)="noOptionCU('NO'); onPlaceUpdateSubmit(formAddPlace.value)">Yes</button>
                <button type="button" class="btn" (click)="noOptionCU('NO')">No</button>
              </div>
              </form>
            </div>
            
      </div>
            </ng-template>
    


