.background{
    background-image: url('../../public/images/1.jpg');
}

.container{
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top:30px;
    margin-top: 5px;
    background: whitesmoke;
    border-color: #d46e7e;
    border-width: 5px;
   
}

.modal-title{
  font-family: 'Lobster', cursive;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: 35px;
      margin-bottom: 30px;
      margin-top: 20px;
    display: block;
      color: #D46E7E;
      text-align: center;
    }

.borderContainer{
    border-width: 2px;
    border-color: #d46e7e;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top:10px;
    margin-top: 5px;
    border-style: solid
    
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }