<div class="background">
  <div class="container">
    <h1 class="title">Users list</h1>
    
    <div *ngFor="let user of users" class="borderContainer">
        <div class="row">
      <div  class="col">{{user.name}} </div>
      <div  class="col">{{user.email}} </div>
        
        

      <div *ngIf="isMainAdmin()" class="col" class="form-check">
          <input class="form-check-input" type="checkbox" value="{{user.admin}}"  [(ngModel)]="user.admin" id="defaultCheck1" (change)="changeState($event, user._id)" >
          <label class="form-check-label" for="defaultCheck1">
            Admin
          </label>
          </div>

          <div *ngIf="!isMainAdmin()" class="col" class="form-check">
              <input class="form-check-input" type="checkbox" value="{{user.admin}}"  [(ngModel)]="user.admin" id="defaultCheck1" disabled='true'>
              <label class="form-check-label" for="defaultCheck1">
                Admin
              </label>
              </div>

      <div class="col">
          <button *ngIf="isMainAdmin()" class="btn float-md-right" (click)="openModalDelete(content, user._id)">Delete</button>
      </div>
        
      </div>
    </div>
  
  </div>
</div>

<ng-template #content let-close="close" let-yesOption="dismiss" let-noOption="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="close('CLOSED')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure that you want to delete this user?</p>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn" (click)="yesOption('YES')">Yes</button>
      <button type="button" class="btn" (click)="noOption('NO')">No</button>
      </div>
  </ng-template>