<div class="container-login100">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form [formGroup]="formLogin"  (ngSubmit)="onLoginSubmit(formLogin.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Sign In
				</span>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
        <input [formControl]="username" class="input100" type="text" name="username" placeholder="username">
        <span *ngIf="!username.valid && username.touched" class="formC fs-14">Username must be between 4 and 15 characters and without whitespace.</span>
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input [formControl]="password" class="input100" type="password" name="pass" placeholder="password">
        <span *ngIf="!password.valid && password.touched" class="formC fs-14">Password is shorter than 6 or greaten then 20 charachters.</span>
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" [disabled]="!formLogin.valid" type="submit">
          Sign In
        </button>
      </div>
    </form>


  </div>
</div>



<div id="dropDownSelect1"></div>
