<div class="container-login100">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form [formGroup]="formAddComment" (ngSubmit)="onAddCommentSubmit(formAddComment.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Add review
				</span>

      <div class="form-group">
        <div class="wrap-input100 validate-input m-b-20" data-validate="Enter rating:">
            <ngb-rating [(rate)]="currentRate" [starTemplate]="t"  max="5">
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                </span>
              </ng-template>
              
              </ngb-rating>
          <span class="focus-input100"></span>
        </div>
      </div>

     
      <div class="form-group">
        <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter review text">
          <input [formControl]="reviewText" class="input100" type="text" name="reviewText" placeholder="enter review">
          <span *ngIf="!reviewText.valid && reviewText.touched" class="formC fs-14">Review text must be between 1 and 500 characters</span>
          <span class="focus-input100"></span>
        </div>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
          Add review
        </button>
      </div>
    </form>


  </div>
</div>



<div id="dropDownSelect1"></div>
