
.star {
    position: relative;  
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: #D46E7E;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #D46E7E;
  }