<div class="container-login100">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form [formGroup]="formAddCity" (ngSubmit)="onCityAddSubmit(formAddCity.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Add city
				</span>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter city name">
        <input [formControl]="name" class="input100" type="text" name="name" placeholder="enter city name">
        <span *ngIf="!name.valid && name.touched" class="formC fs-14">City name must be between 1 and 70 characters and support only letters.</span>
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter country">
        <input [formControl]="country" class="input100" type="text" name="county" placeholder="enter country">
        <span *ngIf="!country.valid && country.touched" class="formC fs-14">Country name must be between 1 and 70 characters and support only letters.</span>
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter some informations">
        <input [formControl]="information" class="input100" type="text"  name="information" placeholder="enter some informations">
        <span *ngIf="!information.valid && information.touched" class="formC fs-14">Informations about city must be less then 3000 charachters</span>
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter latitude">
        <input [formControl]="lat" class="input100" type="text" name="lat" placeholder="enter latitude">
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="form-group">
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter longitude">
        <input [formControl]="lng" class="input100" type="text" name="lng" placeholder="enter longitude">
        <span *ngIf="!coordinates.valid && (lat.touched || lng.touched)" class="formC fs-14">You need to enter longitude and latitude</span>
        <span class="focus-input100"></span>
      </div>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
          Add city
        </button>
      </div>
    </form>


  </div>
</div>



<div id="dropDownSelect1"></div>
