<ngb-carousel >
    <ng-template ngbSlide>
       <!-- <h1 class="center">Traveling - it leaves you speechless, then turns you into a storyteller</h1>-->
      <img src="../../assets/pictures/slika11.jpg" alt="first">
    </ng-template>
    <ng-template ngbSlide>
       
  <!--      <h1 class="center">Fill your life with adventures, not things. Have stories to tell, not stuff to show</h1>-->
      <img src="../../assets/pictures/home2222.jpg" alt="second" >
    </ng-template>
    <ng-template ngbSlide>
    <!--  <h1 class="center">So much of who we are is where we have been</h1>-->
      <img src="../../assets/pictures/home3333.jpg" alt="tirth">
     
     
    </ng-template>
  </ngb-carousel>



